* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Img/top-banner.png);
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
}

.first {
    flex: 1;
    margin-top: 100px;
    text-align: center;
}

.second {
    margin: 20px;
}


.img {
    height: 400px;
    width: 400px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    margin-top: 50px;
    text-align: justify;
    margin-left: 10px;
}

.sub {
    display: flex;
    margin-top: 90px;
}

.forth {
    margin-left: 20px;
    margin-right: 10px;
}

.another {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 30px;
    display: flex;
    background-color: rgb(7, 66, 66);
    color: aliceblue;
}

p {
    font-size: 20px;
}